.sideNavBtns{
    padding-right: 80px;
}

/*.mainHeader{*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
.header{
    margin-top: 400px;
    width: 100%;
    position: relative;
}
.menuBtn{
    margin:20px;
<<<<<<< HEAD
=======
    position: fixed;
}
.contentA{
    margin-top: 450px;
}
.contentB{
    margin-top: 50px;
>>>>>>> sideMenyBtn
}